@model Mono_zadatak.Models.ModelVozilaVM

@{
    ViewBag.Title = "Details";
}

<h2>Detalji</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdMarke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMarke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kratica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kratica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { idModela = Model.Id }) |
    @Html.ActionLink("Lista", "List")
</p>
